ce.product{
    width: 100%;
}
.product h1 {
    text-align: center;
    color:#f33c45;

}

.section_product{
    width: 100%;
    height:100%;
    display: flex;
}

.space-list{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    justify-content:
    margin-bottom:100px;
}

@media (max-width: 950px) {
    .space-list{
      display: block;
    }

}